.container {
    background-image: url("https://estaticos-cdn.elperiodico.com/clip/b9afb6c2-a1af-4191-b0c9-cd8082d26fa1_alta-libre-aspect-ratio_default_0.jpg");
    background-size: cover;
    background-position: center;
  }
  